In [3]:
import random

In [5]:
import pandas as pd 

nodes_df = pd.read_excel('Copy of OUT_Supply_Chain_Model example.xlsx', sheet_name = 1)
edges_df = pd.read_excel('Copy of OUT_Supply_Chain_Model example.xlsx', sheet_name = 2)

In [6]:
nodes_df

,Node ID,Node Name,Description,Type,Throughput,Storage Capacity,Supply,Demand,Current Storage,Resupply,...,Flow - Scenario 1 part 2,Net Flow - Scenario 1 part 2,Total Flow - Scenario 1,Remaining Storage - Scenario 1,Flow - Scenario 2 part 1,Net Flow - Scenario 2 part 1,Flow - Scenario 2 part 2,Net Flow - Scenario 2 part 2,Total Flow - Scenario 2,Remaining Storage - Scenario 2
0,1,Malaysia oil field 1,Oil Rig,Production,41000,0.00,36900,0,0,Yes,...,31390,31390,36900,0,0,0,2510,2510,2510,0
1,2,Malaysia oil field 2,Oil Rig,Production,22000,0.00,19800,0,0,Yes,...,0,0,19800,0,13420,13420,6380,6380,19800,0
2,3,Thailand oil field,Oil Rig,Production,30000,0.00,27000,0,0,Yes,...,0,0,0,0,0,0,0,0,0,0
3,4,Myanmar oil field,Oil Rig,Production,36000,0.00,32400,0,0,Yes,...,3174,3174,3174,0,0,0,3174,3174,3174,0
4,5,Vietnam oil field,Oil Rig,Production,34000,0.00,30600,0,0,Yes,...,0,0,30600,0,20740,20740,9860,9860,30600,0
5,6,Indonesia oil field 1,Oil Rig,Production,34000,0.00,30600,0,0,Yes,...,2609,2609,21460,0,0,0,4793,4793,4793,0
6,7,Indonesia oil field 2,Oil Rig,Production,27000,0.00,24300,0,0,Yes,...,0,0,24300,0,13641,13641,10659,10659,24300,0
7,8,Indonesia oil field 3,Oil Rig,Production,21000,0.00,18900,0,0,Yes,...,0,0,18900,0,12810,12810,6090,6090,18900,0
8,9,Philippines oil field,Oil Rig,Production,21000,0.00,18900,0,0,Yes,...,0,0,18900,0,12810,12810,6090,6090,18900,0
9,10,Dagang China oil field,Oil Rig,Production,26000,0.00,23400,0,0,Yes,...,14251,14251,17024,0,13406,13406,7571,7571,20977,0
10,11,Bogai Sea China oil field,Oil Rig,Production,16000,0.00,14400,0,0,Yes,...,0,0,14400,0,9760,9760,4640,4640,14400,0
11,12,Changqing China oil field,Oil Rig,Production,43000,0.00,38700,0,0,Yes,...,11675,11675,38700,0,0,0,7891,7891,7891,0
12,13,Brunei oil field,Oil Rig,Production,39000,0.00,35100,0,0,Yes,...,0,0,35100,0,23790,23790,11310,11310,35100,0
13,14,Thailand port,Ship Terminal,Port,47965,2398.25,0,0,1419,No,...,0,-2398,1419,2398,1419,1419,0,-2398,1419,2398
14,15,Indonesia port 1,Ship Terminal,Port,53525,2676.25,0,0,1462,No,...,0,-2676,53525,2676,15937,1462,10167,-2676,26104,2676
15,16,Indonesia port 2,Ship Terminal,Port,48134,2406.70,0,0,1177,No,...,1613,-2406,11329,2406,1177,1177,0,-2406,1177,2406
16,17,Malaysia port 1,Ship Terminal,Port,46721,2336.05,0,0,1326,No,...,2511,-2336,9592,2336,28539,1326,3021,-2336,31560,2336
17,18,Malaysia port 2,Ship Terminal,Port,51416,2570.80,0,0,668,No,...,10165,-2570,34132,2570,3960,668,4834,-2570,8794,2570
18,19,Malaysia port 3,Ship Terminal,Port,45775,2288.75,0,0,1329,No,...,2427,-2288,45775,2288,29753,1329,5478,-2288,35231,2288
19,20,Philippines port,Ship Terminal,Port,48465,2423.25,0,0,453,No,...,0,0,48465,0,31986,453,14486,-2423,46472,2423
20,21,China port 1,Ship Terminal,Port,52241,2612.05,0,0,346,No,...,5018,-2612,40653,2612,12561,346,5151,-2612,17712,2612
21,22,China port 2,Ship Terminal,Port,48986,2449.30,0,0,601,No,...,5957,-2449,19610,2449,15695,601,0,-2449,15695,2449
22,23,Thailand refinery,Refinery,Refinery,48793,2439.65,0,0,307,No,...,1042,-2132,1042,2439,0,0,1042,-2132,1042,2439
23,24,Indonesia refinery,Refinery,Refinery,52188,2609.40,0,0,834,No,...,0,-2609,43985,2609,14475,834,12843,-2609,27318,2609
24,25,Malaysia refinery 1,Refinery,Refinery,50224,2511.20,0,0,1435,No,...,0,-2511,1435,2511,1435,1435,510,-2511,1945,2511
25,26,Malaysia refinery 2,Refinery,Refinery,52202,2610.10,0,0,1101,No,...,2734,-2610,3835,2610,1101,1101,2224,-2610,3325,2610
26,27,Malaysia refinery 3,Refinery,Refinery,48081,2404.05,0,0,726,No,...,23,-2404,749,2404,726,726,2591,-2404,3317,2404
27,28,Philippines refinery,Refinery,Refinery,54262,2713.10,0,0,444,No,...,0,0,444,0,444,444,2261,-2713,2705,2713
28,29,China refinery 1,Refinery,Refinery,47928,2396.40,0,0,1404,No,...,10187,-2396,30025,2396,1404,1404,5680,-2396,7084,2396
29,30,China refinery 2,Refinery,Refinery,51399,2569.95,0,0,1375,No,...,10774,-2569,23513,2569,14781,1375,4817,-2569,19598,2569
30,31,South Korea port,Ship Terminal,Port,50774,2538.70,0,0,1486,No,...,0,-2538,50774,2538,24625,1486,2613,-2538,27238,2538
31,32,Japan port 1,Ship Terminal,Port,53697,2684.85,0,0,394,No,...,2348,-2684,46184,2684,35440,394,2348,-2684,37788,2684
32,33,Japan port 2,Ship Terminal,Port,48706,2435.30,0,0,335,No,...,0,-2435,48706,2435,32145,335,2528,-2435,34673,2435
33,34,Japan port 3,Ship Terminal,Port,51660,2583.00,0,0,1020,No,...,0,-2583,51660,2583,34095,1020,2458,-2583,36553,2583
34,35,Guam port,Ship Terminal,Port,48713,2435.65,0,0,1259,No,...,2386,-2435,48713,2435,19216,1259,2691,-2435,21907,2435
35,36,Japan bulk storage 1,Tank Farm,Bulk Storage,46969,2348.45,0,0,1164,No,...,0,-2348,1164,2348,1164,1164,0,-2348,1164,2348
36,37,Japan bulk storage 2,Tank Farm,Bulk Storage,50561,2528.05,0,0,1429,No,...,0,0,19133,0,12183,1429,0,-2528,12183,2528
37,38,Japan bulk storage 3,Tank Farm,Bulk Storage,49173,2458.65,0,0,901,No,...,0,0,901,0,901,901,0,-2458,901,2458
38,39,South Korea bulk storage,Tank Farm,Bulk Storage,52274,2613.70,0,0,553,No,...,0,0,553,0,6326,553,0,-2613,6326,2613
39,40,Guam bulk storage,Tank Farm,Bulk Storage,53829,2691.45,0,0,1373,No,...,0,-2386,10633,2386,9840,1373,0,-2691,9840,2691
40,41,Malaysia bulk storage 1,Tank Farm,Bulk Storage,54681,2734.05,0,0,1313,No,...,0,-2734,1313,2734,1313,1313,0,-2734,1313,2734
41,42,Malaysia bulk storage 2,Tank Farm,Bulk Storage,51834,2591.70,0,0,879,No,...,0,-23,879,23,879,879,0,-2591,879,2591
42,43,Thailand bulk storage,Tank Farm,Bulk Storage,48056,2402.80,0,0,1360,No,...,0,-1042,0,2402,0,0,0,-1042,0,2402
43,44,Philippines bulk storage,Tank Farm,Bulk Storage,45229,2261.45,0,0,994,No,...,0,0,994,0,994,994,0,-2261,994,2261
44,45,China bulk storage 1,Tank Farm,Bulk Storage,51157,2557.85,0,0,1051,No,...,0,-2557,1051,2557,1051,1051,0,-2557,1051,2557
45,46,China bulk storage 2,Tank Farm,Bulk Storage,47368,2368.40,0,0,313,No,...,0,-2368,313,2368,313,313,0,-2368,313,2368
46,47,Misawa AFB,AFB,Use,74000,0.00,0,66600,0,No,...,0,0,50135,0,33574,-33574,0,0,33574,0
47,48,Yokota AFB,AFB,Use,50000,0.00,0,45000,0,No,...,0,0,45000,0,36604,-36604,0,0,36604,0
48,49,Osan AFB,AFB,Use,66000,0.00,0,59400,0,No,...,0,0,51327,0,25178,-25178,0,0,25178,0
49,50,Kadena AFB,AFB,Use,69000,0.00,0,62100,0,No,...,0,0,52561,0,34996,-34996,0,0,34996,0
50,51,Andersen AFB,AFB,Use,53000,0.00,0,47700,0,No,...,0,0,47700,0,20589,-20589,0,0,20589,0

In [7]:
edges_df

,Edge ID,Start Node,End Node,Edge Name,Description,Type,Capacity,Total Risks,Required Flow - Scenario 2,New randomized flow,Flag if less than 0,Flag if greater than capacity,Unnamed: 12,Constrained Flow
0,1,1,14,Ship Transport 1,To Port,Ship Transport,20204,0.4325,583.259912,-8655.723198,True,False,0.000000,0.000000
1,2,1,15,Ship Transport 2,To Port,Ship Transport,43780,0.3125,0.000000,-8299.274987,True,False,0.000000,0.000000
2,3,1,16,Ship Transport 12,To Port,Ship Transport,62065,0.3125,0.000000,4244.646396,False,False,4244.646396,4244.646396
3,4,1,17,Ship Transport 13,To Port,Ship Transport,34353,0.3125,0.000000,-1129.369384,True,False,0.000000,0.000000
4,5,1,18,Ship Transport 14,To Port,Ship Transport,50980,0.3125,3169.454545,8080.037372,False,False,8080.037372,8080.037372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,98,42,19,Truck Transport 26,To Port,Truck Transport,63100,0.3100,1273.913043,-5372.028762,True,False,0.000000,0.000000
98,99,43,14,Truck Transport 27,To Port,Truck Transport,48745,0.5500,0.000000,-8644.142322,True,False,0.000000,0.000000
99,100,44,20,Truck Transport 28,To Port,Truck Transport,78955,0.3100,1440.579710,3265.099402,False,False,3265.099402,3265.099402
100,101,45,21,Truck Transport 29,To Port,Truck Transport,61571,0.3100,1523.188406,7043.141088,False,False,7043.141088,7043.141088
101,102,46,22,Truck Transport 30,To Port,Truck Transport,53788,0.3100,453.623188,1111.504750,False,False,1111.504750,1111.504750

In [8]:
nodes_df = nodes_df[["Node ID", "Supply", "Demand", "Storage Capacity", "Current Storage"]]
nodes_df

    Node ID  Supply  Demand  Storage Capacity  Current Storage
0         1   36900       0              0.00                0
1         2   19800       0              0.00                0
2         3   27000       0              0.00                0
3         4   32400       0              0.00                0
4         5   30600       0              0.00                0
5         6   30600       0              0.00                0
6         7   24300       0              0.00                0
7         8   18900       0              0.00                0
8         9   18900       0              0.00                0
9        10   23400       0              0.00                0
10       11   14400       0              0.00                0
11       12   38700       0              0.00                0
12       13   35100       0              0.00                0
13       14       0       0           2398.25             1419
14       15       0       0           2676.25             1462
15       16       0       0           2406.70             1177
16       17       0       0           2336.05             1326
17       18       0       0           2570.80              668
18       19       0       0           2288.75             1329
19       20       0       0           2423.25              453
20       21       0       0           2612.05              346
21       22       0       0           2449.30              601
22       23       0       0           2439.65              307
23       24       0       0           2609.40              834
24       25       0       0           2511.20             1435
25       26       0       0           2610.10             1101
26       27       0       0           2404.05              726
27       28       0       0           2713.10              444
28       29       0       0           2396.40             1404
29       30       0       0           2569.95             1375
30       31       0       0           2538.70             1486
31       32       0       0           2684.85              394
32       33       0       0           2435.30              335
33       34       0       0           2583.00             1020
34       35       0       0           2435.65             1259
35       36       0       0           2348.45             1164
36       37       0       0           2528.05             1429
37       38       0       0           2458.65              901
38       39       0       0           2613.70              553
39       40       0       0           2691.45             1373
40       41       0       0           2734.05             1313
41       42       0       0           2591.70              879
42       43       0       0           2402.80             1360
43       44       0       0           2261.45              994
44       45       0       0           2557.85             1051
45       46       0       0           2368.40              313
46       47       0   66600              0.00                0
47       48       0   45000              0.00                0
48       49       0   59400              0.00                0
49       50       0   62100              0.00                0
50       51       0   47700              0.00                0

In [9]:
total_supply = nodes_df["Supply"].sum()
total_demand = nodes_df["Demand"].sum()

print(total_supply, total_demand)

351000 280800

In [10]:
print(len(nodes_df))

51

In [11]:
edges_df = edges_df[["Edge ID", "Start Node", "End Node", "Capacity"]]
edges_df

     Edge ID  Start Node  End Node  Capacity
0          1           1        14     20204
1          2           1        15     43780
2          3           1        16     62065
3          4           1        17     34353
4          5           1        18     50980
..       ...         ...       ...       ...
97        98          42        19     63100
98        99          43        14     48745
99       100          44        20     78955
100      101          45        21     61571
101      102          46        22     53788

[102 rows x 4 columns]

In [77]:
node_storage_lookup = nodes_df["Supply"].copy()
print(node_storage_lookup)

0     36900
1     19800
2     27000
3     32400
4     30600
5     30600
6     24300
7     18900
8     18900
9     23400
10    14400
11    38700
12    35100
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
36        0
37        0
38        0
39        0
40        0
41        0
42        0
43        0
44        0
45        0
46        0
47        0
48        0
49        0
50        0
Name: Supply, dtype: int64

In [12]:
num_scenarios = 20 
outputs = []

In [258]:
# Values to use for current testing 

import pandas as pd
import numpy as np

data = {'Edge ID': [1, 2, 3, 4, 5, 6, 7, 8], 'Start Node': [6, 6, 5, 5, 5, 2, 7, 7], 'End Node': [1, 3, 1, 2, 7, 7, 4, 8], 'Capacity': [500, 100, 300, 300, 300, 400, 300, 300]}
all_edges = pd.DataFrame.from_dict(data)
#all_edges.index.rename('index', inplace=True)
print(all_edges)
 
data = np.array([0, 0, 0, 0, 900, 600, 0, 0])
 
node_storage_lookup = pd.Series(data)
print(node_storage_lookup)

top_sort_nodes = [6, 5, 3, 1, 2, 7, 4, 8]
print(top_sort_nodes)

   Edge ID  Start Node  End Node  Capacity
0        1           6         1       500
1        2           6         3       100
2        3           5         1       300
3        4           5         2       300
4        5           5         7       300
5        6           2         7       400
6        7           7         4       300
7        8           7         8       300
0      0
1      0
2      0
3      0
4    900
5    600
6      0
7      0
dtype: int64
[6, 5, 3, 1, 2, 7, 4, 8]

In [256]:
# all_edges: all the edge mappings between nodes in the graph, lookup: amount of fuel in each node, 
# top_sort_nodes: order by which nodes should be traversed (based on a topological sorting algorithm) 
def propagate(all_edges, lookup, top_sort_nodes):
    
    # Contains the amount of fuel remaining in each node 
    result_lookup = lookup.copy() 
    
    # Go through the nodes in topological sort order 
    for start_node in top_sort_nodes:
        
        # Set index and extract all edges that are connected to the current start_node 
        curr_index = 0 
        
        curr_edges = all_edges[all_edges['Start Node']==start_node]
        curr_edges = curr_edges.reset_index().drop(columns='index')
        curr_edges.index.rename('index', inplace=True)
        
        # TODO: Implement storage functionality  
        
        # Iterate through all the edges connected with start_node 
        while curr_index < len(curr_edges):
        
            # Extract end node ID and capacity of edge 
            end_node, edge_capacity = curr_edges.at[curr_index, 'End Node'], curr_edges.at[curr_index, 'Capacity']
        
            # Special case accounting for whether this is the last edge we are iterating through 
            if curr_index==len(curr_edges)-1:
                
                # If the amount of fuel remaining in the start node is less than or equal to the edge capacity, 
                # propagate all the remaining fuel down the last edge 
                if result_lookup[start_node-1]<= edge_capacity: 
                    propagate_amount = result_lookup[start_node-1]
                # Otherwise, generate a random amount between 0 and the edge capacity to propagate down the graph
                else: 
                    propagate_amount = random.randint(0, edge_capacity)
                
                # Update the result_lookup, which contains the amount of fuel remaining in each node 
                print(start_node, end_node, propagate_amount)
                result_lookup[start_node-1] -= propagate_amount 
                result_lookup[end_node-1] += propagate_amount 
                curr_edges.at[curr_index,'Capacity'] -= propagate_amount 
                
                # Remove the edge from our current data frame iteration if its capacity is reached 
                if curr_edges.at[curr_index,'Capacity']==0:
                    curr_edges = curr_edges.drop(curr_index)
                    curr_edges = curr_edges.reset_index().drop(columns='index')
                    curr_edges.index.rename('index', inplace=True)
            
                # Update iteration index: If we still have fuel remaining and the edges have not reached their capacities, 
                # continue propagation. Otherwise, break out of the while loop and move on to the next start node 
                if result_lookup[start_node-1] == 0 or len(curr_edges)==0: 
                    break
                else: 
                    curr_index = 0 
            
            # When we are iterating through all edges but the last edge  
            else: 
                # Generate a random fuel amount to propagate down the graph taking into consideration flow constraints
                # and update the result_lookup, which contains the amount of fuel remaining in each node 
                propagate_amount = random.randint(0, min(edge_capacity, result_lookup[start_node-1]))
                print(start_node, end_node, propagate_amount)
                result_lookup[start_node-1] -= propagate_amount 
                result_lookup[end_node-1] += propagate_amount 
                curr_edges.at[curr_index,'Capacity'] -= propagate_amount 
                
                # Remove the edge from our current data frame iteration if its capacity is reached 
                if curr_edges.at[curr_index,'Capacity']==0:
                    curr_edges = curr_edges.drop(curr_index)
                    curr_edges = curr_edges.reset_index().drop(columns='index')
                    curr_edges.index.rename('index', inplace=True)
                    curr_index -= 1
                
                # Update iteration index 
                curr_index += 1
                
    # return the result_lookup          
    return result_lookup

In [247]:
result = propagate(all_edges.copy(), node_storage_lookup.copy(), top_sort_nodes)
print(result)

6 1 484
6 3 51
6 1 0
6 3 34
6 1 1
6 3 7
6 1 15
6 3 8
5 1 187
5 2 176
5 7 197
5 1 100
5 2 59
5 7 16
5 1 7
5 2 65
5 7 8
5 1 0
5 7 40
5 1 5
5 7 20
5 1 1
5 7 19
2 7 300
7 4 295
7 8 145
7 4 0
7 8 122
7 4 0
7 8 18
7 4 5
7 8 15
0    800
1      0
2    100
3    300
4      0
5      0
6      0
7    300
dtype: int64